@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto+Slab&display=swap');

:root {
    font-family: League Spartan, Roboto Slab;
}

body {
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(8, 100px);
}

.gameBox {
    border: 1px solid black;
    grid-column: 4 / 7;
    grid-row: 3 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameSquare {
    border: 1px solid rgb(192, 188, 188);
}